.idea
bin/mips_simulator
bin/mips_testbench
build/build
build/CMakeFiles
build/cmake_install.cmake
build/CMakeCache.txt
build/Makefile
build/testbench.spec
cmake-build-debug
test/__pycache__
test/bin
